<!DOCTYPE html>
<html>
<head>
    <title>AI Tutor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>T Tutor 🎓</h1>

<label>Select Subject:</label>
<select id="subject">
    <option value="math">Math</option>
    <option value="biology">Biology</option>
    <option value="programming">Programming</option>
    <option value="history">History</option>
</select>

<br><br>
<a href="/wallet">Go to Wallet 💰</a><a href="templates/wallet.html"></a>
<input id="question" placeholder="Ask your question">

<button onclick="askAI()">Ask</button>

<h3>Answer:</h3>
<p id="answer"></p>

<script>
async function askAI() {

    const question = document.getElementById("question").value;
    const subject = document.getElementById("subject").value;

    const response = await fetch("/ask", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            question: question,
            subject: subject
        })
    });

    const data = await response.json();

    document.getElementById("answer").innerText = data.answer;
}
</script>

</body>
</html>